---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
	<article class="prose dark:prose-invert lg:prose-lg mx-auto py-8">
		<div class="hero-image mb-8">
			{
				heroImage && (
					<Image
						width={1020}
						height={510}
						src={heroImage}
						alt=""
						class="rounded-xl shadow-md w-full"
					/>
				)
			}
		</div>
		<div class="title text-center mb-12">
			<div class="date text-zinc-500 dark:text-zinc-400 mb-2">
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="last-updated-on italic text-sm">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
			</div>
			<h1 class="text-4xl md:text-5xl font-bold tracking-tight mb-4">
				{title}
			</h1>
			<hr class="border-zinc-200 dark:border-zinc-800" />
		</div>
		<div class="content">
			<slot />
		</div>
	</article>
</BaseLayout>
